*{
padding:0px;
}
h1{

font:bold 20px Tahoma;
}
h2{
font:bold 14px Tahoma;
}

header, section, footer, aside, nav, article, hgroup
{
display:block;
}

html, body{
 height:100%;
  margin:0;
text-align:center;
}

#topMen
{
background-color: #698B88;
}

#topMen li
{
display:inline-block;
list-style:none;
padding:5px;
font:bold 14px Tahoma;

}

.nav-link
{
  color: black;
  float: right;


}
#page1Text
{
 background-image: linear-gradient(to right top, #d1bf8d, #beb389, #aca685, #9b9981, #8c8c7d);
  min-height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 50%;
    left: 50%;
    text-align:left;

}

#myImage{
    background-image: url("example.jpg");
    min-height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    width: 50%;
    left: 0;
}
#footer
{
clear:both;
text-align:center;
padding:20px;
border-top:2px solid green;
}
